/* Reset style */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Styling the body selector with an background image */
body {
    min-height: 100vh;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: url('../img/bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

/* Styling navbar container */
nav {
    background-color: white;
    box-shadow: 3px 5px 5px rgba(0, 0, 0, 0.1);
}

/* Styling unordered list container */
nav ul {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

/* Styling unordered lits-items*/
nav li {
    height: 50px;
}

/* Styling anchor tags inside nav container */
nav a {
    height: 100%;
    padding: 0px 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: black;
}

/* styling hover effect on anchors */
nav a:hover {
    background-color: #f0f0f0;
}

/* Styling first list-item inside nav container */
nav li:first-child{
    margin-right: auto;
}

/* Styling the sidebar navigation */
.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    background-color: white;
    backdrop-filter: blur(10px);

}

.sidebar li {
    width: 100%;
}


